In [1]:
import os
import pandas as pd

In [2]:
import sys

In [94]:
visit_path = os.path.join(os.getcwd(), 'ed_visits.txt')
visit = open(visit_path, 'r')

In [95]:
header = visit.readline()

In [96]:
header

'"empi"$"visit_date"$"admit_date"$"discharge_date"$"length_of_stay"$"principal_dia_code"$"principal_dia_name"$"additional_dia_code"$"note_text"\n'

In [97]:
content = visit.readlines()

In [98]:
content = ''.join(content)

In [116]:
records = content.split("[report_end]\n\"")
records = records[:-1] # No info in the last record

In [117]:
len(records)

869

In [118]:
def removespecialchar(string):
    return ''.join(e for e in string if (e.isalnum() or e == ' ' or e == '-' or e == '.' or e == '/' or e == ':'))

In [124]:
new_visit_path = os.path.join(os.getcwd(), 'ed_visits_clean.txt')
visit_clean = open(new_visit_path, 'w')

for record_no in range(0,len(records)):
    record = records[record_no]
    chunk = record.split('[report_beginning]\n')
    field = chunk[0].split('$')
    
    lower_chunk = chunk[1].split('\n\n')
    sub_field = lower_chunk[0].split('|')
    for i in range(0,len(sub_field)):
        field.append(sub_field[i].strip())
    
    # Comment
    field.append(lower_chunk[1].strip())
    
    # Allergies
    allergy = lower_chunk[2].replace('ALLERGIES:','',1).strip()
    field.append(allergy)
    
    # Social history
    social_history = lower_chunk[3].replace('SOCIAL HISTORY:','',1).strip()
    field.append(social_history)
    
    # Physical Exam
    exam = lower_chunk[4].replace('PHYSICAL EXAMINATION:','',1).strip()
    field.append(exam)
    
    # Emergency
    emergency = lower_chunk[5].replace('EMERGENCY DEPARTMENT COURSE:','',1).strip()
    field.append(emergency)
    
    # DISPOSITION
    disposit = lower_chunk[6].replace('DISPOSITION:','',1).strip()
    field.append(disposit)
    
    for col in range(0,len(field)):
        if(col != 0):
            visit_clean.write('\t')
        visit_clean.write('%s' % removespecialchar(field[col]))
        
    visit_clean.write('\n')

In [130]:
dframe = pd.read_table(new_visit_path, sep="\t", header = None)

In [131]:
dframe.head()

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,940785937,2013-05-14,2013-05-14 23:59:19,2013-05-15 00:52:57,54,724.2,Lumbago,719.46786.2786.2V62.85,NaN,940785937,...,final,Waldorff Kim M.D.,39222202,Major Academic Center,Ms.Mozingo is a 58 year-old patient who comes ...,none,The patient Ms.Mozingo is a past smoker who ha...,Blood pressure 140/60 pulse 55 respiratory rat...,I confirm that I have seen and evaluated the p...,The patient was placed in ED observation with ...
1,412857024,2012-01-20,2012-01-20 22:53:54,2012-01-21 02:51:49,238,781.0,Abnormal involuntary movements,NaN,NaN,412857024,...,final,Jameson Jan M.D.,64675539,Major Academic Center,Ms.Mccranie is a 95 year-old patient who comes...,present,The patient Ms.Mccranie is a current smoker wh...,Blood pressure 162/87 pulse 70 respiratory rat...,I confirm that I have seen and evaluated the p...,The patient was admitted to the hospital with ...
2,285331782,2011-12-09,2011-12-09 12:54:56,2011-12-09 17:37:59,283,786.59,Other chest pain,996.73719.46724.2959.09,NaN,285331782,...,final,Patel Monica M.D.,80312742,Major Academic Center,Ms.Wheeler is a 56 year-old patient who comes ...,none,The patient Ms.Wheeler is a current smoker who...,Blood pressure 154/93 pulse 60 respiratory rat...,I confirm that I have seen and evaluated the p...,The patient was admitted to the hospital with ...
3,916658044,2011-05-23,2011-05-23 14:12:04,2011-05-23 21:21:44,430,780.4,Dizziness and giddiness,719.46820.8789.01780.50,NaN,916658044,...,final,Smith Jonathan M.D.,85382431,Major Academic Center,Mr.Bickford is a 7089 year-old patient who com...,present,The patient Mr.Bickford is a nonsmoker who liv...,Blood pressure 147/92 pulse 44 respiratory rat...,I confirm that I have seen and evaluated the p...,The patient was admitted to the hospital with ...
4,172824291,2012-09-30,2012-09-30 03:44:42,2012-09-30 07:32:36,228,789.02,Abdominal pain left upper quadrant,540.9998.30784.2578.9,NaN,172824291,...,unsigned,Singh Brian M.D.,74556073,Major Academic Center,Ms.Falgoust is a 95 year-old patient who comes...,present,The patient Ms.Falgoust is a past smoker who l...,Blood pressure 117/86 pulse 71 respiratory rat...,I confirm that I have seen and evaluated the p...,The patient was admitted to the hospital with ...

In [151]:
dframe[dframe[0] == 940785937]

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,940785937,2013-05-14,2013-05-14 23:59:19,2013-05-15 00:52:57,54,724.2,Lumbago,719.46786.2786.2V62.85,NaN,940785937,...,final,Waldorff Kim M.D.,39222202,Major Academic Center,Ms.Mozingo is a 58 year-old patient who comes ...,none,The patient Ms.Mozingo is a past smoker who ha...,Blood pressure 140/60 pulse 55 respiratory rat...,I confirm that I have seen and evaluated the p...,The patient was placed in ED observation with ...
457,940785937,2012-01-16,2012-01-16 06:18:17,2012-01-16 10:59:22,281,079.99,Unspecified viral infection,789.00780.60719.46786.2,NaN,940785937,...,final,Dirichlet Amir M.D.,29650563,Major Academic Center,Ms.Mozingo is a 4057 year-old patient who come...,none,The patient Ms.Mozingo is a nonsmoker who live...,Blood pressure 150/90 pulse 60 respiratory rat...,I confirm that I have seen and evaluated the p...,The patient was admitted to the hospital with ...
569,940785937,2010-03-21,2010-03-21 07:19:18,2010-03-21 11:47:57,269,724.5,Backache unspecified,V62.85682.4719.46786.2,NaN,940785937,...,final,Jameson Jan M.D.,64675539,Major Academic Center,Ms.Mozingo is a 55 year-old patient who comes ...,none,The patient Ms.Mozingo is a current smoker who...,Blood pressure 151/82 pulse 69 respiratory rat...,I confirm that I have seen and evaluated the p...,The patient was placed in ED observation with ...